@media screen and (max-width: 479px) {

  #gallery li {
    width: 95%;
  }
  
  /*#gallery li:nth-child(6) {
    clear: left;
  }*/
  #gallery li:last-child(2) {
    clear: left;
  }

}
@media screen and (min-width: 480px) {
  
  /**********************************
  PAGE:
  ***********************************/
  
  #gallery li {
    width: 28.3333%;
  }
  
  /*#gallery li:nth-child(6) {
    clear: left;
  }*/
  #gallery li:last-child(2) {
    clear: left;
  }
  
  /**********************************
  PAGE:
  ***********************************/
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
  
}

@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #A1A1A1;
    margin-bottom: 60px;
  }

  
}



